# LaTeX build / aux files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
*.xdv

# Glossaries
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.xdy

# Latexmk
*.latexmk

# OS / Editor
.DS_Store
.vscode/
